---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$dark-blue: #1E1F30;
$red: #F04E30;
$tan: #FCFDF4;
$blue: #C5ECEC;

// Our variables
$menu-color: $red;
$bg-color: $tan; //bright yellow
$dusty-blue: #BBDDEE;
$green: #D6DF23;
$gray: #999;
//#FFDDCC //salmon
//#F35C50 //red
//#F8BECA //bright pink
//#41CBE8 // light blue
//#F6EAE4; //pink
//#f4a225 darker yellow



$main-font: 'larish',"Gotham SSm A", "Gotham SSm B", 'romana_bold', helvetica;
$max-width: 70em;

$mobile-width: 500px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "menu",
        "typography",
        "helpers",
        "spin-animations",
        "buttons",
        "grid",
        "layout"
;
