<header>
  <a id="trigger-overlay" type="button"><hr><hr><hr><hr></a>

		<!-- open/close -->
		<div class="overlay overlay-circle">
			<button type="button" class="overlay-close">Close</button>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/process">Process &amp; People</a></li>
					<li><a href="/work">Clients &amp; Work</a></li>
					<li><a href="/coworking">Co-work Space</a></li>
          			<li><a href="/contact">Get in Touch</a></li>
				</ul>
			</nav>
		</div>

</header>
<!-- <div class="fourths column">
  <img src="{{ "/images/nairobi.jpg" | prepend: site.baseurl }}" alt="">
</div>
<div class="fourths column">

    <img src="{{ "/images/london.jpg" | prepend: site.baseurl }}" alt="">

</div> -->
