<header>
  <a id="trigger-overlay" type="button"><hr><hr><hr><hr></a>

		<!-- open/close -->
		<div class="overlay overlay-circle">
			<button type="button" class="overlay-close">Close</button>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="people.html">Process &amp; People</a></li>
					<li><a href="work.html">Clients &amp; Work</a></li>
          <li class="row no-padding">
            <!-- <div class="fourths column">
              <img src="{{ "/images/nairobi.jpg" | prepend: site.baseurl }}" alt="">
            </div>
            <div class="fourths column">

                <img src="{{ "/images/london.jpg" | prepend: site.baseurl }}" alt="">

            </div> -->

              E / +254 706 345 234 / +44 7816 284 609

          </li>
				</ul>

			</nav>
		</div>

</header>
