body, html {
  background: $tan;
}


html, body {
	height: 100%;
	margin: 0;
}



#wrapper {
	min-height: 85%;
  background: $bg-color;
}

.centered-block {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle, triangle {transition: all .2s ease-in;}

.circle {
  transition: all .2s ease-in-out;
  position: absolute;
  height: 700px;
  width: 700px;
  background: $blue;
  border-radius: 50%;
  right: 0;
  top: 10%;
  z-index: 0;
  &:hover{
    width: 770px;
    height: 770px;
  }
  &.green {
    background: $green;
  }
}



.pentagon-container {
  position: absolute;
  right: 0;
}
.pentagon {
    position: relative;
    width: 750px;
    border-width: 400px 181px 0;
    border-style: solid;
    border-color: $green transparent;
    margin-top: 40%;
}
.pentagon:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -680px;
    left: -181px;
    border-width: 0 375px 280px;
    border-style: solid;
    border-color: transparent transparent $green;
}


.triangle {
  transition: all .2s ease-in-out;
  height: 0;
  width: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 300px solid $green;
  &:hover{
    border-bottom-width: 250px;
  }
}

.triangle-container {
  position: absolute;
  right: 620px;
  top: 35%;
  z-index: 0;
}

@media all and (max-width: 660px) {
  .circle {
    width: 300px;
    height: 300px;
    top: 32%;
  }
  .triangle-container {
    right: 80px;
    top: 54%;
  }
  .triangle {
    border-left-width: 140px;
    border-right-width: 140px;
    border-bottom-width: 200px;

  }

}

@media only screen and (min-device-width:768px) and (max-device-width :1024px) and (orientation: portrait) {
  .triangle-container {
    right: 400px;
    top: 60%;
  }
  #wrapper {
    min-height: 90%
  }
}

.space-group {
  margin-bottom: 2em;
}
.left-block {
  text-align: center;
  position: absolute;
  top: 5em;
  left: 7em;
  // transform: translate(-25%, -25%);
  z-index: 1;

  &.block-inside{
    position: relative;
    margin-top: 4em;
    left: 0;
    top: 0;
  }
}

h4.explain {
  max-width: 350px;
}

h4.explain-long {
  width: 100%;
  max-width: 650px;

}

@media all and (max-width: 668px) {
  .left-block {
    top: 1em;
    left: 1.5em;
    &.block-inside{
      position: relative;
      margin-top: 1em;
    }
  }

  h4.explain-long {
    width: 90%;
    max-width: 450px;

  }

  h4.explain {
    max-width: 250px;
  }

}

.name {
  position: absolute;
  font-family: "Gotham SSm A", "Gotham SSm B", helvetica;
  background: $red;
  color: white;
  width: 70%;
  bottom: 2em;
  padding: .75em 0;
  margin-left: 15%;
  text-transform: uppercase;
  text-align: center;
  span {
    text-transform: lowercase;
    color: rgba(255,255,255,.7);
    font-size: .7em;
    display: block;
  font-style: italic;
  margin-bottom: 3px;
  }
}

.work-back {
  border-radius: 50%;
background: $blue;
width: 120px;
height: 120px;
position: absolute;
z-index: 0;
}
.work-back + img {
  position: relative;
}
