@font-face
  font-family: 'romana_bold'
  src: url('../fonts/romana_bold_bt-webfont.eot')
  src: url('../fonts/romana_bold_bt-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/romana_bold_bt-webfont.woff2') format("woff2"), url('../fonts/romana_bold_bt-webfont.woff') format("woff"), url('../fonts/romana_bold_bt-webfont.ttf') format("truetype"), url('../fonts/romana_bold_bt-webfont.svg#romana_btbold') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'romana_reg'
  src: url('../fonts/romanabt-webfont.eot')
  src: url('../fonts/romanabt-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/romanabt-webfont.woff2') format("woff2"), url('../fonts/romanabt-webfont.woff') format("woff"), url('../fonts/romanabt-webfont.ttf') format("truetype"), url('../fonts/romanabt-webfont.svg#romana_btroman') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'larish'
  src: url('../fonts/larishalte-semibold-webfont.eot')
  src: url('../fonts/larishalte-semibold-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/larishalte-semibold-webfont.woff2') format("woff2"), url('../fonts/larishalte-semibold-webfont.woff') format("woff"), url('../fonts/larishalte-semibold-webfont.ttf') format("truetype"), url('../fonts/larishalte-semibold-webfont.svg#larish_altesemibold') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'larish_italic'
  src: url('../fonts/larish_neue_semibold_italic-webfont.eot')
  src: url('../fonts/larish_neue_semibold_italic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/larish_neue_semibold_italic-webfont.woff2') format("woff2"), url('../fonts/larish_neue_semibold_italic-webfont.woff') format("woff"), url('../fonts/larish_neue_semibold_italic-webfont.ttf') format("truetype"), url('../fonts/larish_neue_semibold_italic-webfont.svg#larish_neuesemibold_italic') format("svg")
  font-weight: normal
  font-style: normal


body
  font-size: 18px
  // line-height: 1.5em
  font-family: $main-font

h1, h2, h3, h4, h5, h6
  // font-family: 'romana_bold', helvetica
  margin-top: 0



h1
  font-family: "Gotham SSm A", "Gotham SSm B", 'romana_bold', helvetica
  font-weight: 700
  font-size: 3em
  &.big
    font-size: 4em
    font-style: normal
    font-weight: 700
    color: $dark-blue
    text-align: left
  &.inside
    font-size: 7em
    color: $dusty-blue
  &.inside-work
    font-size: 7em
    color: $green




h2
  font-size: 2.2em
  line-height: 1.1em
  font-family: "Gotham SSm A", "Gotham SSm B", helvetica
  margin-bottom: .4em
h5
  font-family: "Gotham SSm A", "Gotham SSm B", helvetica
  // font-style: italic
  text-transform: uppercase
  color: $green
  font-weight: 100
  margin-bottom: .25em
h4
  font-size: 1em
  // font-family: "garamond-premier-pro-display", $main-font, helvetica
  line-height: 1.5em
  font-style: normal
  font-weight: 300
  // font-weight: 400
  // color: $dusty-blue
  font-family: "Gotham SSm A", "Gotham SSm B", helvetica
  font-style: normal
  font-weight: 400
  text-align: left
  color: $red
@media all and (max-width: 660px)
  h1.big
    font-size: 2.5em
  h2
    font-size: 2em
  h4
    font-size: .9em

p
  font-size: .95em
  // font-family: "garamond-premier-pro-display", $main-font, helvetica
  line-height: 1.5em
  font-style: normal
  font-weight: 300
  // font-weight: 400
  // color: $dusty-blue
  font-family: "Gotham SSm A", "Gotham SSm B", helvetica
  font-style: normal
  font-weight: 400
  text-align: left
  color: $gray
.image-bullet
  max-width: 16px
  float: left
  margin-right: 7px
  position: relative
  margin-top: 5px
.blue
  color: $blue
